#ball{
    -fx-background-color: linear-gradient(to bottom, #d2a172, #e9e4d7);
}
#ball2{
    -fx-background-color: linear-gradient(to bottom, #d2a172, #e9e4d7);
}
#ball3{
    -fx-background-color: linear-gradient(to bottom, #d2a172, #e9e4d7);
}